body {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)),
    url("../images/uluru.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 220px 0;
}

header h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  margin: 0 auto;
}

header h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
}

header h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 5px;
  margin-bottom: 0;
}

.learn_more {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #272044;
  text-decoration: none;
  background-color: white;
  padding: 15px;
  display: inline-block;
}

main {
  background-color: #000000;
}
main section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 150px;
}

main h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  margin: 10px 0 0 0;
  text-align: left;
}

main h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 5px;
  opacity: 0.4;
  text-transform: uppercase;
  margin: 0;
}

main h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
}

main h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  margin: 0;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.6;
}

main img {
  width: 400px;
  height: 400px;
}

.grid-2-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.img-responsive {
  max-width: 100%;
}

.secondary {
  background: #181525;
}

.text-center {
  text-align: center;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  padding: 50px 0;
}

.cards {
  background: #272435;
  margin: 30px 0;
}

.cards img {
  width: 185px;
  height: 185px;
}

.cards-body {
  padding: 30px;
}

.btn {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  background-color: #462cb3;
  padding: 16px;
}

.card-footer {
  margin: 40px 0 10px 0;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
    url("../images/footerImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
  margin: 0 auto;
  max-width: 1400px;
}

footer ul,
p {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #e9e6e6;
  opacity: 0.8;
  padding: 0;
  list-style: none;
  padding: 0;
}

footer a {
  color: #e9e6e6;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 50px;
}

@media (max-width: 900px) {
  header {
    padding: 40px 0;
  }
  header h1 {
    font-size: 38px;
  }

  header h2 {
    font-size: 24px;
  }

  header h3 {
    font-size: 12px;
  }

  main h2 {
    font-size: 18px;
  }

  main section {
    padding: 30px;
  }

  .grid-2-cols {
    grid-template-columns: 1fr;
  }

  main img,
  p {
    max-width: 100%;
  }

  main section {
    text-align: center;
  }

  .cards {
    padding: 10px;
  }

  .grid-3-cols {
    grid-template-columns: 1fr;
  }

  footer {
    padding: 10px;
    margin: 0 auto;
  }
  .footer-grid {
    grid-template-columns: 1fr;
  }
}
